/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1b1e28;
  color: #fdffff;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  --text-color: #fff;
  --second-color: #7d7f81;
  --accent-color: #2481cc;
  --accent-line-color: #4ca3e2;
  --accent-btn-color: #2481cc;
  --accent-btn-bghover: #e6f1f7;
  --accent-btn-bgactive: #d4e6f1;
  --bubble-logo-icon-svg: url(data:image/svg+xml,%3Csvg%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m488.649875%2044.6098697c6.442438-2.8224615%2010.738405-4.6832009%2012.887902-5.5822181%206.137252-2.5668769%207.41252-3.0127709%208.243723-3.0276516.182815-.0030813.591576.0424775.856354.2585203.223574.1824224.285088.428849.314524.6018054.029436.1729565.066092.5669556.036954.874815-.33258%203.5138587-1.771648%2012.041067-2.503764%2015.9766489-.309785%201.6652923-.919763%202.2236562-1.510292%202.2782995-1.283356.1187526-2.257879-.8528431-3.500872-1.6721675-1.945039-1.2820809-3.043862-2.0801802-4.931859-3.3312543-2.181908-1.4458326-.767468-2.2404874.475995-3.5391756.32542-.3398729%205.979917-5.5116482%206.08936-5.9808093.013687-.0586764.02639-.2773944-.102829-.3928855-.129218-.1154911-.319934-.0759976-.457559-.0445881-.195081.044522-3.302306%202.1096922-9.321675%206.1955107-.881976.6089971-1.680842.9057209-2.396598.8901714-.789064-.017142-2.306907-.4486274-3.435267-.8174505-1.38398-.4523766-2.48394-.6915513-2.388158-1.4598267.049889-.4001653.59791-.8094133%201.644061-1.227744z%22%20fill%3D%22%231c93e3%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%28-487%20-36%29%22%2F%3E%3C%2Fsvg%3E);
  --views-icon-svg: url(data:image/svg+xml,%3Csvg%20height%3D%2210%22%20viewBox%3D%220%200%2016%2010%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m8%200c2.8897625%200%205.2230958%201.66666667%207%205-1.7769042%203.33333333-4.1102375%205-7%205-2.88976248%200-5.22309581-1.66666667-7-5%201.77690419-3.33333333%204.11023752-5%207-5zm0%201.48148148c-1.98523978%200-3.59459459%201.5752944-3.59459459%203.51851852s1.60935481%203.51851852%203.59459459%203.51851852%203.5945946-1.5752944%203.5945946-3.51851852-1.60935482-3.51851852-3.5945946-3.51851852zm0%201.85185185c.94037674%200%201.7027027.74619209%201.7027027%201.66666667s-.76232596%201.66666667-1.7027027%201.66666667-1.7027027-.74619209-1.7027027-1.66666667.76232596-1.66666667%201.7027027-1.66666667z%22%20fill%3D%22%237d7f81%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  --voters-icon-svg: url(data:image/svg+xml,%3Csvg%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20width%3D%2212%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m3.60486756.00162755%204.54930464-.00162755c1.33727811%200%201.82220747.13923842%202.3110964.40069906.4888888.26146064.8725717.6451435%201.1340323%201.13403238l.0922854.18482021c.2018093.43861897.3084137.9561578.3084137%202.12627615v4.3083444c0%201.33727811-.1392384%201.82220747-.4006991%202.3110964-.2614606.4888888-.6451435.8725717-1.1340323%201.1340323l-.1848203.0922854c-.43861892.2018093-.95615775.3084137-2.1262761.3084137h-4.3083444c-1.33727811%200-1.82220747-.1392384-2.31109636-.4006991-.48888888-.2614606-.87257174-.6451435-1.13403238-1.1340323l-.09228534-.1848203c-.18739436-.407289-.29269878-.88262629-.30678617-1.88531586l-.00162755-4.54930464c0-1.33727811.13923842-1.82220747.40069906-2.31109636.26146064-.48888888.6451435-.87257174%201.13403238-1.13403238l.18482021-.09228534c.40728905-.18739436.88262634-.29269878%201.88531591-.30678617zm6.42546254%202.96804236c-.26626658-.26626656-.68293026-.29047261-.97654175-.07261815l-.08411844.07261815-3.96966991%203.96933009-1.46966991-1.46933009-.08411844-.07261815c-.29361149-.21785446-.71027517-.19364841-.97654174.07261815-.26626656.26626657-.29047261.68293025-.07261815.97654174l.07261815.08411844%202%202%20.08411844.07261815c.26098799.19364841.61920241.19603913.88259105.00717216l.09395069-.07979031%204.50000001-4.5.0726181-.08411844c.2178545-.29361149.1936484-.71027517-.0726181-.97654174z%22%20fill%3D%22%237d7f81%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  --box-bg: #fff;
  --box-bg-blured: rgba(255, 255, 255, .84);
  --service-bg-blured: rgba(0, 0, 0, 0.2);
}

.tgme_widget_message_link_preview, .tgme_widget_message_link_preview:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.tgme_widget_message_reply, .tgme_widget_message_link_preview, .tgme_widget_message_game, .tgme_widget_message_invoice {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  padding: 2px 0 2px 12px;
  margin: 6px 0 -2px;
  overflow: hidden;
}

.tgme_widget_message_reply:after, .tgme_widget_message_link_preview:before, .tgme_widget_message_game:before {
  content: '';
  position: absolute;
  background-color: var(--accent-line-color);
  border-radius: 2px;
  width: 2px;
  left: 0;
  top: 2px;
  bottom: 2px;
}

.link_preview_right_image {
  display: inline-block;
  width: 60px;
  height: 60px;
  float: right;
  border-radius: 6px;
  margin-left: 10px;
  background: no-repeat center;
  background-size: cover;
}

.link_preview_site_name {
  font-weight: 500;
  color: var(--accent-color);
}

.link_preview_title {
  font-weight: 500;
  color: var(--text-color);
  margin-top: 4px;
  margin-bottom: 1px;
}

.link_preview_description {
  color: var(--text-color);
  margin-top: 4px;
  margin-bottom: 1px;
}